
.gap {

    height: 50px;

}

.comment_wrap {
    border: 1px solid black;
    border-radius: 3px;
    width: 500px;
    height: 140px;
    margin: auto;
    margin-top: 10px;
}


.comment_header {
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid orange;
    border-radius: 3px;


}


.comment_content {

    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid orange;
    border-radius: 3px;
    height: 50px;

}


.del_btn {
    margin-top: 5px;
    border-style: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}


.mod_btn {

    margin-top: 5px;
    margin-left: 5px;
    border-style: none;
    border-radius: 3px;
    width: 100px;
    height: 30px;
}


.save_btn {

    border-style: none;
    border-radius: 3px;
    width:100px;
    height:30px;
}