.board_detail_wrap {
  margin-top: 300px;
  border: 1px solid black;
  border-radius: 5px;
  
  margin: auto;
  width: 500px;
  height: 600px;
}



.title{

    height: 25px;
    margin:auto;
    width:300px;
    margin-bottom: 10px;
    border:1px solid red;
    border-radius:3px;
}


.text_bno{
border:1px solid black;
border-radius: 3px;
width:fit-content;

margin:auto;

}

.writer{


height: 40px ;
margin:auto;
width:300px;
border-radius:3px;
border:1px solid orange;

  

}

.write_date{

margin:5px;  
height:100px;
border:1px solid green; 
border-radius: 3px;

}


.content{


height:340px;
margin:5px;
border: 1px solid black;
border-radius: 3px;
}

